body{
background-color:#118ab2;

color:black;
text-align:center;


}
.container{
height:70vh;
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;


}

h1{
    text-align:center;
    color:#b0c4b1; /* Mistake: color code needs # before hex value */
}

.btn{
 height: 18vmin;
 width:  18vmin;
   
    color:#ad2831;
   display:flex; /* Mistake: flexbox is not a valid display value, use flex */
   
   

       border-radius:1rem;
       border:none;
       box-shadow:black;
       font-size:8vmin;


}
.boxes{


display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap:1.5vmin;

height:60vmin;
width:60vmin;




}

.reset{

    background-color:white;
    color:blue;
height: 40px;
width: 100px;
color:#24b438;
border-radius: 1rem;
border:none;



}



#new-game{
  background-color:rgb(25, 24, 24);
    color:blue;
height: 40px;
width: 100px;
color:#24b438;
border-radius: 1rem;
border:none;
}
#msj{

    font-size:8vmin;

}
.msj-container{

    height:100vmin;

}
.hide{
   display:none;

}
